Repository newbornfrontender/sedona-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:write, yarn lint

.lintstagedrc:

{
  "*.{js,jsx}": [
    "yarn prettier:write",
    "git add"
  ],
  "*.{ts,tsx}": [
    "yarn prettier:write",
    "yarn lint",
    "git add"
  ],
  "*.vue": [
    "yarn prettier:write",
    "yarn lint",
    "git add"
  ]
}

Добавил хук на коммит
  .huskyrc
Due: none

Настроил Prettier
  .prettierignore
  .prettierrc.js
Due: yarn prettier:write

Указал расширение для Prettier
  tslint.json
Due: none

Изменил заголовок и добавил примечание
  README.md
Due: none

Переименовал директорию
  test/unit/HelloWorld.spec.ts
Due: yarn prettier:write, yarn lint

Изменил tests на test
  jest.config.js
  tsconfig.json
Due: yarn prettier:write

Отформатировал код при помощи Prettier
  public/manifest.json
  src/components/HelloWorld.vue
  src/registerServiceWorker.ts
  src/router.ts
Due: yarn prettier:write, yarn lint

Перенес в typings
  src/typings/shims-tsx.d.ts
  src/typings/shims-vue.d.ts
Due: yarn prettier:write, yarn lint

Добавил исключения
  .prettierignore
Due: none

Добавил комментарии
  .prettierrc.js
  jest.config.js
  tsconfig.json
  tslint.json
Due: yarn prettier:write

Добавил отступы
  babel.config.js
  package.json
Due: yarn prettier:write

Закоммитил предыдущие изменения
  README.md
Due: none

Добавил комментарии
  .prettierignore
Due: none

Сделал код короче
  .lintstagedrc
Due: none

Внес косметические изменения
  jest.config.js
  tslint.json
Due: yarn prettier:write

Добавил новые изображения
  public/img/icons/apple-touch-icon-350x350.png
  public/img/icons/safari-pinned-tab.svg
Due: none

Модифицировал файлы
  public/favicon.ico
  public/index.html
  public/manifest.json
Due: none

Модифицировал файлы и добавил начальную структуру
  package.json
  src/App.vue
  src/router.ts
  src/views/Home.vue
  yarn.lock
Due: yarn prettier:write, yarn lint

Добавил шрифты
  src/assets/fonts/ptsans.woff
  src/assets/fonts/ptsans.woff2
  src/assets/fonts/ptsansbold.woff
  src/assets/fonts/ptsansbold.woff2
Due: none

Добавил изображения
  src/assets/img/icons/icon-burger.svg
  src/assets/img/icons/icon-gift.svg
  src/assets/img/icons/icon-house.svg
  src/assets/img/icons/logo-htmlacademy@1x.png
  src/assets/img/icons/social-fb.svg
  src/assets/img/icons/social-twitter.svg
  src/assets/img/icons/social-youtube.svg
  src/assets/img/mobile/background@1x.jpg
  src/assets/img/mobile/logo-site@1x.png
  src/assets/img/mobile/map@1x.jpg
  src/assets/img/mobile/photo-bridge@1x.jpg
  src/assets/img/mobile/photo-city@1x.jpg
  src/assets/img/mobile/text-index@1x.png
Due: none

Добавил стили
  src/assets/styles/main.scss
Due: none

Добавил страницы
  public/img/icons/android-chrome-192x192.png
  public/img/icons/android-chrome-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/apple-touch-icon.png
  public/img/icons/favicon-16x16.png
  public/img/icons/favicon-32x32.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/mstile-150x150.png
  src/assets/logo.png
  src/components/HelloWorld.vue
  src/views/About.vue
  src/views/Gallery.vue
  src/views/ReviewForm.vue
Due: yarn prettier:write, yarn lint
